.TIns-insert {
	margin: auto;
}

.TIns-insert-row {
	display: flex;
}

.TIns-insert-cell {
	width: 2rem;
	aspect-ratio: 1;
	padding: 4px;
	cursor: pointer;
}

.TIns-insert-cell::before {
	display: block;
	content: "";
	width: 100%;
	height: 100%;
	background: var(--background-primary);
}

.TIns-insert-cell.hover::before {
	outline: solid 2px var(--interactive-accent-hover);
}

.modal.mod-settings button.TIns-align-button[disabled] {
	background-color: var(--interactive-accent);
	cursor: unset;
}
